/* BY DEFAULTS */

:root {
    --matte: #222f3e;
}

::selection {
    color: white;
    background: #000;
}

* {
    padding: 0;
    margin: 0;
    border: none;
    outline: none!important;
    box-sizing: border-box;
    transition: all .25s ease;
    list-style: none;
}

@font-face {
    font-family: Garamond;
    src: url(../fonts/Garamond/Cormorant.ttf);
}


/* STYLES WHEN SOME TEXT IS SELECTED */

::selection {
    color: #fff;
    background: blue;
}


/* CUSTOM SCROLLBAR */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: black;
}

::-webkit-scrollbar-thumb {
    background: grey;
}

h1,
h2,
h3,
h4 {
    font-family: Poppins, sans-serif;
}

.center {
    text-align: center;
    margin: auto;
}

.bold {
    font-weight: 700;
}

.bolder {
    font-weight: 800;
}

a {
    text-decoration: none!important;
    color: blue!important;
}

a:hover{
    text-decoration: underline!important;
}

.quote {
    font-size: 2rem;
}

/* NAVBAR */

.brand {
    font-family: Garamond;
    font-size: 2.3rem!important;
    letter-spacing: 1.5px;
    color: white!important;
}

.brand:hover {
    color: white;
    text-decoration: none!important;
}

.bg{
    background: #161d20;
}

.nav-item {
    font-family: Poppins, sans-serif;
    margin: 0 30px;
    font-size: 1.1rem;
}

.hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #f2fade;
    background: linear-gradient(to right, rgb(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/blogpage/This-is-why-you-shouldn’t-care-about-your-relatives.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.hero h1 {
    font-size: 4rem;
    margin: 20px 0;
}

.hero h3 {
    font-size: 1.5rem;
}

article {
    font-size: 1.5rem;
    padding: 50px 0;
    font-family: Garamond, sans-serif;
    width: 85vw!important;
    text-align: justify;
}

article::first-letter {
    font-size: 200%;
}

.author-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 3px lightgray solid;
    background: blue;
    border-radius: 15px;
    color: #f2fade;
    padding: 20px 20px;
    margin: 20px auto;
    max-width: max-content;
    word-wrap: break-word;
}

.author-card img {
    margin: 0 30px;
    filter: brightness(140%);
}

.author-card h2 {
    text-transform: uppercase;
    font-size: 3rem;
    letter-spacing: 2.5px;
}

.author-card h3 {
    font-size: 1.5rem;
}

.author-card span {
    opacity: 0.8;
    font-size: 70%;
}

footer {
    display: flex!important;
    justify-content: space-evenly;
    align-items: center;
    flex: 1;
}

.shareHeading,
.commentHeading {
    font-size: 5rem;
    opacity: .5;
    font-weight: 800;
    color: blue;
}

.socLink {
    position: relative;
    bottom: 50px;
    height: auto;
    width: 55px;
    padding: 0 5px;
}

.socLink:hover{
    transform: translateY(-15px);
}

.link {
    width: 35px;
}

.copyright {
    font-weight: 700;
}

.copyright span {
    opacity: .5;
}

.commentHeading {
    position: relative;
    top: 55px;
}

.commentRect {
    background: #eee;
    height: auto;
    width: 400px;
    margin: auto;
    padding: 50px 0;
    border-radius: 10px;
}

 /* D A R K  M O D E  CONFIGURATIONS */
 .darkmode-btn{
    position: fixed;
    border: none;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    background-color: darkslategrey;
    color: floralwhite;
    padding: 10px;
    font-size: 1.5rem;
}

.dark-body{
    background: #161d20;
    color: #efefef;
}
.dark-body h2{
    color: blue;
}
.dark-body .auth-name{
    color: #efefef;
}
.dark-body .icons{
    filter: invert(1);
}
@media screen and (min-width: 900px){
    html{
        font-size: 18px;
    }
}

@media screen and (max-width: 748px){
    html{
        font-size: 17px;
    }
}

@media screen and (max-width: 500px){
    html{
        font-size: 15px;
    }
    .author-card{
        flex-direction: column;
        text-align: center;
    }
    .hero{
        height: 40vh;
    }
    .hero h1{
        font-size: 2rem;
    }
}