    /* ROOT */
    
     :root {
        --matte: #222f3e;
    }
    /* FONT FAMILIES */
    
    @font-face {
        font-family: Pacifico;
        src: url(../fonts/Pacifico/Pacifico-Regular.ttf);
    }
    
    @font-face {
        font-family: 'Cormorant Garamond';
        src: url(../fonts/Garamond/Cormorant.ttf);
    }
    /* BY DEFAULTS */
    
    * {
        padding: 0;
        margin: 0;
        border: none;
        outline: none;
        box-sizing: border-box;
        transition: all cubic-bezier(0, 0, 0, 1) .25s;
        list-style: none;
    }
    
    html {
        font-size: 16px;
        scroll-behavior: smooth;
        scroll-snap-type: y mandatory;
        overflow-x: hidden;
    }
    
    body {
        overflow-x: hidden;
    }
    /* STYLES WHEN SOME TEXT IS SELECTED */
    
     ::selection {
        color: #fff;
        background: blue;
    }
    /* CUSTOM SCROLLBAR */
    
     ::-webkit-scrollbar {
        width: 10px;
    }
    
     ::-webkit-scrollbar-track {
        background: black;
    }
    
     ::-webkit-scrollbar-thumb {
        background: grey;
    }
    
    .poppins {
        font-family: poppins, Helvetica, sans-serif;
    }
    
    .pacifico {
        font-family: Pacifico, cursive;
    }
    
    h1,
    h2,
    h3 {
        font-family: Poppins, Helvetica, sans-serif;
    }
    
    .center {
        text-align: center;
    }
    
    .grey {
        opacity: .5;
    }
    
    .boldest {
        font-weight: 800;
    }
    
    a {
        text-decoration: none;
    }
    
    .exAccent {
        color: blue;
    }
    
    hr {
        display: none;
        position: absolute;
        left: -100px;
        right: -100px;
        width: 100%;
        margin: 0 auto;
        border-top: 70px rgba(22, 29, 32, .2) dotted;
    }
    
    button {
        cursor: pointer;
        max-width: 80%;
        margin: 10px auto;
        padding: 5px 29px;
        border: 2px solid blue;
        border-radius: 4px;
    }
    
    button:hover,
    button:active,
    button:focus {
        background: blue;
        color: #fff;
    }
    /* HEADER */
    
    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 30px 90px 0px;
        align-items: center;
        scroll-snap-align: start;
    }
    
    .navUl {
        display: flex;
        flex-direction: row;
    }
    
    .navLinks {
        position: relative;
        padding: 20px 16px;
        font-size: 1.2rem;
        font-weight: 600;
        color: #161d20;
        transition: all .01s ease;
    }
    
    .navLinks:hover {
        color: blue;
    }
    /* NAVLINKS ANIMATION */
    
    .navLinks::after {
        content: "";
        position: absolute;
        right: 0;
        left: 0;
        transform: translateY(20px);
        opacity: 0;
        margin: 0 auto;
        height: 3px;
        width: 50%;
        background: #161d20;
        transition: all cubic-bezier(0, 0, 0, 1) .25s;
    }
    
    .navLinks:hover::after {
        transform: translateY(5px);
        opacity: 1;
    }
    
    a:visited {
        color: currentColor;
    }
    /* LANDING PAGE */
    
    .divi {
        height: 100vh;
    }
    
    header {
        scroll-snap-align: start;
    }
    
    .welcome {
        height: 85vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0 30px;
    }
    
    .welcomeText {
        width: 60%;
        text-align: left;
        padding: 0 0 150px 80px;
    }
    
    .welcomeHeading {
        font-size: 4.5rem;
    }
    
    .welcomeSubHeading {
        font-size: 1.7rem;
        letter-spacing: 1.3px;
        font-weight: lighter;
        color: blue;
    }
    
    .reading-svg {
        width: 50%;
    }
    /* CATEGORIES START */
    
    #categoryBox {
        scroll-snap-align: start;
    }
    
    .categoryFun {
        position: absolute;
        right: 100px;
        bottom: -300px;
    }
    
    .catFunText {
        transform: rotate(20deg) translateX(60px);
    }
    
    .catIllus {
        transform: rotate(-100deg);
        height: auto;
        width: 120px;
    }
    
    .catHeading {
        font-size: 3.2rem;
        margin-top: 50px;
        padding-top: 55px;
        font-weight: 700;
    }
    
    .catCardBox {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 65px 10px;
    }
    
    .card {
        max-width: 100%;
        width: 23%;
        height: auto;
        margin: 0 15px;
        padding: 15px;
        border-radius: 10px;
        box-shadow: 12px 12px 28px #d3dac1, -12px -12px 28px #fffffb;
    }
    
    .card img {
        width: 100%;
        height: auto;
    }
    
    .cardDescription {
        padding: 15px;
    }
    /* CATEGORIES END */
    /* COMMENT START */
    
    .commentIntro {
        scroll-snap-align: start;
        height: 100vh;
        background: url(../img/illustrations/people-illustration.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position-y: bottom;
        width: 100%;
    }
    
    @media only screen and (max-width: 360px) {
        .commentIntro {
            background-image: url(../img/illustrations/people-illustration.svg);
        }
    }
    
    .comIntroText {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        top: -90px;
    }
    
    .comHeading {
        font-size: 7rem;
    }
    
    .comHeading .introducing {
        font-size: 3rem;
        position: relative;
        top: 60px;
    }
    
    .comSubHeading {
        width: 50%;
        font-size: 1.3rem;
        margin: auto;
        color: blue;
    }
    /* COMMENT END */
    /* NEWSLETTER START */
    
    .newsletterBox {
        scroll-snap-align: start;
        background: rgba(33, 37, 41, 0.05);
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex: 1;
    }
    
    .newsDescription {
        font-size: 3rem;
        width: 30%;
    }
    
    .newsSubHeading {
        font-size: 1.7rem;
        color: blue;
    }
    
    .vl {
        border-left: 1px solid #161d20;
        height: inherit;
        position: relative;
    }
    
    input {
        border: 2px solid hsl(0.55, 0.92%, 0.10%);
        border-radius: 4px;
        padding: 10px 7px;
        margin: 10px 0;
    }
    
    input:focus {
        border-color: blue;
    }
    
    input:valid {
        border-color: #23DC3D;
    }
    
    .newsForm {
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .newsForm label {
        display: flex;
        flex-direction: column;
    }
    
    .submit {
        font-size: 1.1rem;
    }
    /* NEWSLETTER END */
    /* ABOUT START */
    
    .aboutBox {
        scroll-snap-align: start;
    }
    
    .misfit {
        position: absolute;
        width: 100%;
        font-size: 7rem;
        -webkit-text-stroke: blue 2px;
        color: transparent;
        opacity: 0.3;
        margin-top: 30px;
    }
    
    .misfit span {
        color: transparent;
    }
    
    .aboutIntro {
        position: relative;
        top: 55px;
        font-size: 2.5rem;
    }
    
    .aboutDescFit {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        flex: 1;
        margin-top: 40px;
    }
    
    .authorPortrait {
        height: auto;
        width: 30%;
        border-radius: 50%;
        padding: 5px;
        border: 2px dashed blue;
        margin: 80px 20px 0 0;
    }
    
    .aboutIntro {
        font-size: 2.5rem;
    }
    
    .aboutDescription {
        font-size: 1.2rem;
        max-width: 100%;
        width: 40%;
        margin-top: 130px;
    }
    
    .abtBtn {
        font-size: 1.2rem;
    }
    
    .aboutFun {
        position: absolute;
        right: 100px;
        top: 2890px;
    }
    
    .aboutFunText {
        transform: rotate(20deg) translate(75px, 10px);
    }
    
    .abtArrow {
        transform: rotate(-90deg);
        min-width: 100px;
        min-height: auto;
    }
    /* ABOUT END */
    /* FOOTER */
    
    footer {
        min-height: 50vh;
        scroll-snap-align: start;
        margin: 0 100px 0 100px;
    }
    
    .developer a {
        color: blue;
    }
    
    .socialLinks {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 30px 0 50px 0;
        margin: auto;
    }
    
    .socLink {
        min-height: auto;
        width: 50px;
    }
    
    .brand {
        min-height: auto;
        width: 65px;
        filter: brightness(0);
    }
    
    .credits {
        font-size: 1.4rem;
    }
    
    .credits {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .custom-shape-divider-top-1600944400 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 100vh;
        background: transparent;
        overflow-x: hidden;
        line-height: 10px;
        z-index: -1;
    }
    
    .custom-shape-divider-top-1600944400 svg {
        position: relative;
        display: block;
        right: -10px;
        left: -10px;
        top: -10px;
        width: calc(100% + 13px);
        min-height: 250px;
    }
    
    .custom-shape-divider-top-1600944400 .shape-fill {
        fill: none;
        stroke: blue;
        stroke-width: 5;
        stroke-opacity: 0.5;
        stroke-dasharray: 40;
        stroke-linejoin: round;
    }
    /* hamburger */
    
    .sidenav {
        height: 100vh;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: #161d20;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    
    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        transition: 0.3s;
    }
    
    .sidenav a:hover {
        color: #f1f1f1;
    }
    
    .openNav {
        display: none;
    }
    
    .sidenav .closebtn {
        position: absolute;
        top: 0;
        font-size: 36px;
    }
    /*************** MAKING IT RESPONSIVE ******************************/
    /* FOR DEVICES SMALLER THAN LAPTOP/PC */
    
    @media screen and (max-width: 1330px) {
        .welcomeHeading {
            font-size: 3.7rem;
            padding-left: 0;
        }
    }
    
    @media screen and (max-width: 360px) {
        .socialLinks {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            padding: 230px 0 50px 0;
            margin: auto;
        }
    }
    
    @media screen and (max-width: 1135px) {
        .reading-svg {
            display: block;
            position: absolute;
            margin: auto;
            z-index: -1;
            opacity: .5;
            width: 90%;
        }
        .welcome {
            padding: 0;
        }
    }
    
    @media screen and (max-width: 900px) {
        html {
            scroll-snap-type: y proximity;
        }
        .welcomeHeading {
            font-size: 3.2rem;
        }
        .welcomeSubHeading {
            font-size: 1.5rem;
        }
        .navUl,
        .categoryFun,
        .aboutFun,
        .misfit,
        .vl,
        .custom-shape-divider-top-1600944400 {
            display: none;
        }
        .openNav {
            display: block;
        }
        .aboutDescFit,
        .catCardBox,
        .newsletterBox,
        .credits {
            flex-direction: column;
        }
        .card {
            width: 80%;
            margin: auto;
        }
        .newsDescription {
            width: 90%;
        }
        .newsForm {
            width: 60%;
        }
        .newsletterHeading {
            font-size: 3.2rem;
            padding-top: 2rem;
        }
        .newsSubHeading {
            font-size: 1.2rem;
        }
        .aboutDescription {
            width: 80%;
        }
        .aboutSubDesc {
            padding-top: 15px;
        }
        button {
            display: block;
            margin: 25px auto 0;
        }
        .commentIntro {
            background-size: 200% 50%;
        }
        .comHeading {
            font-size: 3rem;
        }
        .comHeading .introducing {
            font-size: 1.7rem;
            top: 15px;
        }
        .comIntroText {
            top: 175px;
        }
        .comSubHeading {
            width: 90%;
            font-size: 1.1rem;
        }
        .catCardBox,
        footer,
        .aboutBox,
        .commentIntro,
        .newsletterBox,
        #categoryBox,
        header,
        nav {
            scroll-snap-align: none;
        }
        .authorPortrait {
            min-height: auto;
            min-width: 85%;
            padding: 5px;
            margin: 10px;
        }
        .credits {
            justify-content: center;
            text-align: center;
            margin: auto;
        }
        .credits h3 {
            margin: 10px 0;
        }
        footer {
            padding: 230px 0 10px;
        }
    }
    /* FOR TABLET DEVICES */
    
    @media screen and (max-width: 767px) {
        .custom-shape-divider-top-1600944400 svg {
            width: calc(100% + 13px);
            height: 76px;
        }
        .welcomeHeading {
            font-size: 2.2rem;
        }
        .welcomeText {
            width: 90%;
            padding-left: 0;
        }
        nav {
            margin: 15px 40px;
        }
    }
    
    @media screen and (max-height: 450px) {
        .sidenav {
            padding-top: 15px;
        }
        .sidenav a {
            font-size: 18px;
        }
    }